@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 5% 15%;
    --card: 0 0% 100%;
    --card-foreground: 240 5% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 5% 15%;
    --primary: 246 100% 50%; /* #5e4dff */
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 240 5% 15%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 45%;
    --accent: 246 100% 50%; /* #5e4dff - Replaced with primary */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 88%;
    --input: 240 6% 88%;
    --ring: 246 100% 50%;
    --radius: 1rem;
  }
  .dark {
    --background: 224 70% 7%; /* #040B1D */
    --foreground: 0 0% 98%;
    --card: 221 59% 8%; /* #070E1E */
    --card-foreground: 0 0% 98%;
    --popover: 221 59% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 246 100% 65%; /* Lighter #5e4dff */
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 20%;
    --muted-foreground: 240 4% 65%;
    --accent: 246 100% 65%; /* Lighter #5e4dff - Replaced with primary */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 15%;
    --input: 240 4% 15%;
    --ring: 246 100% 65%;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    background: linear-gradient(115deg, #ffffff, #d4dfed);
  }
  .dark body {
    background: linear-gradient(115deg, #050C1E, #0A1A35);
  }
}

@layer utilities {
    @keyframes border-beam {
        100% {
            offset-distance: 100%;
        }
    }
}
