
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 5% 15%;
    --card: 0 0% 100%;
    --card-foreground: 240 5% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 5% 15%;
    --primary: 246 100% 50%; /* #5e4dff */
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 240 5% 15%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 45%;
    --accent: 246 100% 50%; /* #5e4dff - Replaced with primary */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 88%;
    --input: 240 6% 88%;
    --ring: 246 100% 50%;
    --radius: 1rem;
  }
  .dark {
    --background: 224 70% 7%; /* #040B1D */
    --foreground: 0 0% 98%;
    --card: 215 69% 11%; /* #09172E */
    --card-foreground: 0 0% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 246 100% 65%; /* Lighter #5e4dff */
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 20%;
    --muted-foreground: 240 4% 65%;
    --accent: 246 100% 65%; /* Lighter #5e4dff - Replaced with primary */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 15%;
    --input: 240 4% 15%;
    --ring: 246 100% 65%;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  * {
    @apply border-border;
  }
  body {
    background-color: hsl(var(--background));
  }
}

@layer utilities {
    .btn-animated-gradient {
      background: linear-gradient(120deg, hsl(var(--primary)) 0%, #a855f7 50%, hsl(var(--primary)) 100%);
      background-size: 200% 200%;
      animation: gradient-animation 4s ease infinite;
      transition: all 0.2s ease-in-out;
    }

    .btn-animated-gradient:hover {
        background-position: 100% 0;
        transform: scale(1.05);
    }
    
    @keyframes gradient-animation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    @keyframes border-beam {
        100% {
            offset-distance: 100%;
        }
    }

    @keyframes toast-progress {
      from {
        width: 100%;
      }
      to {
        width: 0%;
      }
    }
}
